{{^isEnum}}{{^isContainer}}{{#isPrimitiveType}}"type" : "{{dataType}}"{{/isPrimitiveType}}{{^isPrimitiveType}}"$ref" : "{{package}}/{{dataType}}"{{/isPrimitiveType}}{{/isContainer}}{{#isContainer}}{{>datatypeArray}}{{/isContainer}}{{/isEnum}}{{#isEnum}}"type" : "enum"{{/isEnum}}